<form action="{{ url_for('form_submit') }}" method="post">
  City
  <input type="text" name="city">
  <br><br>

  Checkin
  <input type="text" name="checkin">
  <br><br>

  Checkout
  <input type="text" name="checkout">
  <br><br>

  <br>
  <input type="submit">
</form>

