<table>

<tr>
    <td><h3>Hotel id</h3></td>
    <td><h3>Hotel Name</h3></td>
    <td><h3>Number of reviews</h3></td>
    <td><h3>Address</h3></td>
    <td><h3>Number of Stars</h3></td>
    <td><h3>Amenities</h3></td>
    <td><h3>Image</h3></td>
    <td><h3>Snaptravel Price</h3></td>
    <td><h3>Hotel.com Price</h3></td>
</tr>

{% for row in data %}
<tr>
    <td>{{ row['id'] | safe | capitalize }}</td>
    <td>{{ row['hotel_name'] | safe | capitalize }}</td>
    <td>{{ row['num_reviews'] | safe | capitalize }}</td>
    <td>{{ row['address'] | safe | capitalize }}</td>
    <td>{{ row['num_stars'] | safe | capitalize }}</td>
    <td> {% for amenity in row['amenities'] %}
        {{ amenity | safe | capitalize }} <br>
        {% endfor %} </td>
    <td><img src="{{ row['image_url'] | safe }}" width=300></td>
    <td>{{ row['price'] | safe | capitalize }}</td>
    <td>{{ row['price2'] | safe | capitalize }}</td>
</tr>
{% endfor %}

</table>
